.header{
    height: 10vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.itemList{
    list-style-type: none;
}

.list{

    display: flex;
    justify-content: space-evenly;
    width: 30vw;
    padding: 2%;
    font-size: larger;
    font-weight: bold;
    font-family:Monospace;

}


.left{
   
    width: 40vw;
    display: flex;
    justify-content: center;
    font-size: 200%;
    font-weight:bold;
    font-family:monospace;
}